/* styles.css */

/* Add styles here to customize the appearance of your app */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@300&family=Rakkas&family=The+Nautigal&display=swap');

body {
    background-color: #282424;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: "Poppins", Roboto, sans-serif;
}

#file-input {
    color: #fff;
}

.container {
    width: 50%;
    margin-top: 100px;
}